__pycache__
_misc
_old
_exports
music
documentation
asset_files/_old
icons/icons_geonode_presets/_old
icons/icons_waveform_style/_old
icons/stm_logo
output
ffmpeg_reverse_engineering
*.blend1
*.mp3
*.mp4
*.psd